<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i> Cre8tory To DO</h1>
<p> This is a to do tool list for cre8tory </p>
<%= link_to 'Sign up', "#", class: ' btn btn-primary btn-lg' %> 
</div>


